<div class="header-wrapper">
    <header class="header">
        <div class="header-logo">anytitle</div>
        <nav>
            <a routerLink="/generator" routerLinkActive="header-link-active">
                Генерация
            </a>
            <a routerLink="/collection" routerLinkActive="header-link-active">
                Коллекция
            </a>
            <a routerLink="/faq" routerLinkActive="header-link-active"> FAQ </a>
        </nav>
        <div class="header-left-content">
            <a routerLink="/login"> Войти </a>
        </div>
        <ng-content></ng-content>
    </header>
</div>
