<div class="image-wrapper">
    <ng-container *ngIf="image; else emptyTemplate">
        <img
            *ngIf="!isVideo(); else video"
            alt="image"
            [src]="image | fileTransformToUrl | sanitizer" />
    </ng-container>

    <button (click)="click()" class="image-hovered-content">X</button>

    <p>Название: {{ image.name }}</p>
</div>

<ng-template #emptyTemplate> </ng-template>

<ng-template #video>
    <video class='video' [src]='playVideo()'>
    </video>
</ng-template>
